.wrapperContainer { 
  width: 100%; 
} 
 
.activeDot { 
  border: none; 
  background-color: var(--cfa); 
} 

.wrapperContainer {
  width: 100%;
}

.customDot {
  border: 1px solid;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  appearance: none;
  position: relative;
  top: 2em;
  cursor: pointer;
}

.activeDot {
  border: none;
  background-color: var(--cfa);
}

.prevArrow {
  position: absolute;
  bottom: -50px;
  cursor: pointer;
  left: 44%;
}
.nextArrow {
  position: absolute;
  bottom: -50px;
  cursor: pointer;
  left: 55%;
}

@media screen and (max-width: 1100px) {
  .prevArrow {
    position: absolute;
    bottom: -50px;
    cursor: pointer;
    /* transform: translateX(-45%); */
    left: 41%;
  }
  .nextArrow {
    position: absolute;
    bottom: -50px;
    cursor: pointer;
    /* transform: translateX(-75%); */
    left: 58%;
  }
}

@media screen and (max-width: 800px) {
  .prevArrow {
    position: absolute;
    bottom: -50px;
    cursor: pointer;
    transform: translateX(-45%);
    left: 28%;
  }
  .nextArrow {
    position: absolute;
    bottom: -50px;
    cursor: pointer;
    transform: translateX(-75%);
    left: 72%;
  }
}

@media screen and (max-width: 500px) {
  .prevArrow {
    position: absolute;
    bottom: -50px;
    cursor: pointer;
    transform: translateX(-45%);
    left: 22%;
  }
  .nextArrow {
    position: absolute;
    bottom: -50px;
    cursor: pointer;
    transform: translateX(-75%);
    left: 78%;
  }
}

@media screen and (max-width: 400px) {
  .prevArrow {
    position: absolute;
    bottom: -50px;
    cursor: pointer;
    transform: translateX(-45%);
    left: 18%;
  }
  .nextArrow {
    position: absolute;
    bottom: -50px;
    cursor: pointer;
    transform: translateX(-75%);
    left: 82%;
  }
}