/* Общие стили для всех устройств */
.form {
  background-color: #26B9A8;
  border-radius: 20px;
}

.flexContainer {
  padding: 20px 16px 20px 16px;
  display: flex;
  align-items: center;
  margin-left: 5em;
  gap: 16px;
}

.button {
  background-color: #FEB701;
}

.input {
  border-radius: 20px;
}

.label {
  color: #ecf1ed;
  margin-left: 10px;
}

.errorText {
  color: red;
  font-size: 15px;
  margin-top: 10px;
  margin-left: 41em;
}

/* Медиа-запросы для адаптации на различных устройствах */
@media screen and (min-width: 400px) and (max-width: 1024px) {
  .flexContainer {
    flex-direction: column;
    margin-left: 0;
  }

  .errorText {
    margin-left: 0;
    text-align: center;
  }
}
