.tabsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tabHeaders {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;

}

.tabHeader {
    padding: 10px 20px;
    cursor: pointer;
    width: 20em;
    background-color: #ffffff; /* Белый фон по умолчанию */
    color: #26B9A8; /* Цвет текста по умолчанию */
    border-radius: 20px; /* Закругление углов */
    border: none;
}

.tabHeader.active {
    background-color: #26B9A8; /* Цвет фона при активации */
    color: #ffffff; /* Белый текст при активации */
}

.tabContent {
    padding: 20px;
    width: 55em;
    background-color: #F8F8F8;
    text-align: left;
}

