.container {
    display: flex;
    gap: 20px;
    flex-direction: column;
    position: relative;
    width: fit-content;
}

.gridContainer {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
}

.wrapper {
    text-align: start;
}

.leftColumn {
    margin-top: 70px;
    padding: 30px;
}

.leftColumn li {
    margin-bottom: 20px;
    color: #26B9A8;
}

.selector_wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 0;
    right: 0;
}

.selector_wrapper p {
    color: #40be99;
}

.selector {
    width: 200px;
    height: 25px;
    padding: 5px;
    border-radius: 10px;
}

.wrapperCard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.button_wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 1100px) {
    .productNewWrapperCard {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
    }
}

@media screen and (max-width: 900px) {
    .productNewWrapperCard {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;
    }
}
