.servicesContainer {
    margin-left: 20em;
}

.servicesContainer h3 {
    font-size: 1.5em;
}

.companyInfo,
.additionalInfo,
.qualityInfo,
.contactInfo {
    margin-bottom: 10px;
}

.additionalInfo {
    margin-top: 10px;
}

.companyInfo,
.additionalInfo {
    font-weight: bold;
}

h3 {
    margin-bottom: 10px;
}
