.calendarContainer {
    display: flex;

}

.leftColumn {
    margin-top: 70px;
    padding: 30px;
}

.leftColumn li {
    margin-bottom: 20px;
    color: #26B9A8;
}

.calendarTable {
    position: relative;
    margin-left: 10em;
    padding: 40px;
    width: 60em;
    height: 100%;
    border: 2px solid #26B9A8;
    border-radius: 20px;
}

.calendarTable thead th {
    width: 17em;
    padding: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: left;
    color: #444441;
    border-bottom: 2px solid #716561;
    margin-bottom: 10em;
}

.calendarTable tbody td {
    padding: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #444441;
    border-bottom: 1px solid #716561;
}

@media only screen and (min-width: 200px) and (max-width: 1024px) {
    .calendarContainer {
        flex-direction: column;
        align-items: center;
    }

    .leftColumn {
        margin-top: 0px;
    }

    .calendarTable {
        display: flex;
        margin-left: 0;
        width: 100%;
        border-radius: 10px;
        overflow-x: auto;
        flex-direction: column;
        padding: 0px;
        gap: 2px;
    }

    .calendarTable thead th {
        width: auto;
        white-space: nowrap;
        font-size: 14px;
        padding: 0px;
        margin-bottom: 0;
    }

    .calendarTable tbody td {
        font-size: 14px;
        padding: 0px;
    }
}







