.productCard {
  width: 295px;
  border-radius: 20px;
  background: #ffffff;
  padding: 4px 15px 30px;
}

.imageContainer {
  margin: 0 auto;
  max-width: 210px;
  height: 211px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productCardImage {
  width: 100%;
  height: auto;
}

.productCardTitle {
  font-size: 16px;
  font-weight: 500;
  margin-right: auto;
}

.productCardDiscription {
  font-size: 14px;
  margin-right: auto;
}

.productCard:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.productCardTitle {
  padding: 10px;
}

.productCardDescription {
  padding: 10px;
}

.icon {
  width: 2em;
}

@media (max-width: 800px) {
  .productCardTitle {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: 24px;
  }
}
@media (max-width: 300px) {
  .productCard {
    height: 210px;
  }
}
