.accordion-item {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  gap: 20px;
}

.heading {
  font-size: var(--fontsize-h3);
  font-weight: 600;
}

.accordionLeft {
  max-width: 340px;
  max-height: 280px;
}

.accordion-body {
  font-size: var(--fontsize-p);
  line-height: 30px;
  margin-top: 10px;
}

.acrSection {
  padding-top: 20px;
}

.accordion-collapse {
  overflow-y: hidden;
  transition: all 0.3s ease-in-out;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  margin-top: 20px;
}

.accordionRight {
  position: relative;
}

.accordionRight {
  display: flex;
  flex-direction: column;
}
.openAccordionClick{
  cursor: pointer;
}
.accordion-collapse-open {
  height: auto;
  transition: all 0.3s ease-in-out;
}

.accordion-arrow {
  position: absolute;
  top: 0px;
  right: 0px;
}

.accordion-arrow.active {
  transform: translateY(-20%) rotate(180deg);
}

/* RESPONSIVE */

@media (min-width: 986px) and (max-width: 1136px) {
  .heading {
    font-size: 24px;
  }
  .accordion-body {
    font-size: 18px;
    line-height: 28px;
  }
}

@media (min-width: 801px) and (max-width: 986px) {
  .heading {
    font-size: 20px;
    width: 350px;
  }
  .accordion-collapse {
    -webkit-line-clamp: 6;
  }
  .accordion-body {
    font-size: 16px;
    line-height: 24px;
  }

  .accordion-arrow {
    width: 30px;
    height: auto;
  }
}

@media (max-width: 800px) {
  .accordion-item {
    padding: 14px;
    gap: 14px;
    border-radius: 16px;
    flex-direction: column;
    align-items: center;
  }

  .heading {
    max-width: 269px;
  }

  .accordionRight {
    max-width: 340px;
  }

  .accordionLeft {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .accordion-body {
    line-height: 17.07px;
  }

  .accordion-arrow {
    width: 25px;
    height: auto;
  }
  .accordion-collapse {
    -webkit-line-clamp: 9;
  }
}

