/* Общие стили */
.container {
    display: flex;
    gap: 20px;
    flex-direction: column;
    position: relative;
    width: fit-content;
}

.gridContainer {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
}

.wrapper {
    text-align: start;
}

.leftColumn {
    margin-top: 70px;
    padding: 30px;
}

.leftColumn li {
    margin-bottom: 20px;
    color: #26B9A8;
}

.title {
    font-size: 25px;
}

.wrapperCard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.button_wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    list-style: none;
    padding: 0;
}

.pagination li {
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.pagination li.active {
    background-color: #26b9a8;
    color: #fff;
}

/* Медиа-запрос для адаптации на устройствах с шириной от 400px до 1024px */
@media screen and (min-width: 300px) and (max-width: 1024px) {
    .gridContainer {
        display: grid;
        grid-template-columns: 1fr; /* Одна колонка на мобильных устройствах */
        gap: 20px;
    }

    .leftColumn {
        margin-top: 20px; /* Уменьшаем отступ сверху */
        padding: 10px; /* Уменьшаем отступы внутри колонки */
        order: -1; /* Помещаем левую колонку над основным контейнером */
    }

    .container {
        margin-top: 20px; /* Уменьшаем отступ сверху для основного контейнера */
        padding: 10px; /* Уменьшаем отступы внутри основного контейнера */
    }

    .leftColumn li {
        margin-bottom: 10px; /* Уменьшаем отступы между элементами списка */
    }

    .title {
        font-size: 20px; /* Уменьшаем размер шрифта заголовка */
    }

    .wrapperCard {
        display: grid;
        grid-template-columns: 1fr; /* Одноколоночный макет для карточек продукции */
        gap: 16px; /* Уменьшаем промежуток между карточками */
    }

    .title{
        display: block;
        margin-top: 50px;
    }
}