.selector_wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    position: absolute;
    margin-left: 35em;
    color: #0d0d0d;
}

.selector_wrapper p {
    color: #061712;
}

.selector {
    width: 200px;
    height: 25px;
    padding: 5px;
    border-radius: 10px;
}
