.header {
  position: sticky;
  top: 0;
  width: 100%;
  color: #26b9a8;
  z-index: 20;
  box-shadow: none;
}

.topHeaderWrapper {
  position: relative;
  background-color: #26b9a8;
  z-index: 40;
}

.topHeader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 0;
  color: #efefef;
}

.contacts {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  gap: 30px;
}

.email {
  display: block;
}
.tel {
  display: block;
  padding: 4px 8px;
  color: #26b9a8;
  background-color: #fff;
  border-radius: 20px;
}

.separator {
  margin-inline: 1rem;
}

.homeLink {
  display: flex;
  align-items: center;
}

.navWrapper {
  position: relative;
  z-index: 10;
  background-color: var(--bwa);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  padding-block: 16px;
}

.navLink {
  white-space: nowrap;
}

.navLink:global.active {
  color: var(--cfa);
}

.navLink:hover {
  color: var(--cfa);
}

.navList {
  display: flex;
  gap: 40px;
  margin-right: 15em;
}
