.dropdownContainer {
  position: absolute;
  top: 100%;
  background-color: var(--bwa);
  padding: 38px 40px 40px 40px;
  border-radius: 0 0 20px 20px;
  left: 0;
  right: 0;
  transition: transform 400ms ease-in-out;
  transform-origin: top;
  transform: translateY(-100%);
}

.isOpen {
  transform: translateY(0);
}

.wrapper {
  display: flex;
  gap: 40px;
  height: 284px;
}
