.newsContainer {
    display: grid;
    grid-template-columns: 200px auto;
    gap: 20px;
}

.leftColumn {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    padding: 30px;
}

.leftColumn ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.leftColumn li {
    margin-bottom: 20px;
    color: #26B9A8;
}

.cardColumn {
    padding: 40px;
}

.cardColumn h2 {
    margin-bottom: 20px;
    margin-left: 20px;
}

.videoCardContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Две колонки */
    gap: 20px;
}

.videoCard {
    display: flex;
    border-radius: 10px;
    padding: 20px;
}

.videoCard img {
    width: 200px; /* Ширина фотографии */
    height: 200px; /* Высота фотографии */
    object-fit: cover;
    border-radius: 10px;
}

.videoText {
    padding: 20px; /* Увеличим отступ для текста */
}

.videoText h5 {
    color: #8A8A8A;
}

.videoText p {
    margin-bottom: 10px;
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    list-style: none;
    padding: 0;
}

.pagination li {
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.pagination li.active {
    background-color: #26b9a8;
    color: #fff;
}
@media screen and (min-width: 300px) and (max-width: 1024px) {
    .newsContainer {
        display: flex;
        flex-direction: column; /* Левая колонка будет располагаться над основным контейнером */
        gap: 20px;
    }

    .leftColumn {
        padding: 30px;
        margin-top: 0px;
    }

    .videoCardContainer {
        display: flex; /* Размещаем карточки видео в столбец */
        flex-direction: column;
        gap: 10px; /* Расстояние между карточками */
    }

    .videoCard {
        padding: 10px; /* Уменьшим отступ для карточек */
        max-width: 200px; /* Максимальная ширина для карточек */
        border-radius: 10px;
    }

    .videoCard img {
        width: 100%; /* Максимальная ширина для изображений */
        height: auto; /* Автоматическая высота для изображений */
        border-radius: 10px;
    }

    .videoText {
        padding: 10px; /* Уменьшим отступ для текста */
    }

    .pagination {
        justify-content: center;
    }
}
