.footer {
  background-color: #26B9A8FF;
  color: white;
  font-size: 16px;
  padding-block: 60px;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  gap: 20px 80px;
  padding-bottom: 30px;
  position: relative;
}

.footerNav {
  display: flex;
  gap: 55px;
  margin-top: -2em;
  margin-left: 5em;
}

.footerNav a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.footerNav a:hover {
  color: #FFA500FF;
}
