/* Общие стили для всех устройств */
.footer {
  background-color: #26B9A8FF;
  color: white;
  font-size: 16px;
  padding-block: 60px;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  gap: 20px 80px;
  padding-bottom: 30px;
  position: relative;
}

.footerNav {
  display: flex;
  gap: 55px;
  margin-top: -2em;
  margin-left: 5em;
}

.footerNav a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.footerNav a:hover {
  color: #FFA500FF;
}

.logo {
  width: 5em;
  height: 5em;
  border-radius: 10px;
}

/* Медиа-запросы для адаптации на мобильных устройствах */
@media screen and (min-width: 400px) and (max-width: 1024px) {
  .footerNav {
    flex-direction: column; /* Навигация в один столбец */
    align-items: flex-start; /* Выравнивание по левому краю */
    gap: 20px; /* Уменьшение расстояния между элементами */
    margin-left: 0; /* Убираем левый отступ */
    margin-top: 0; /* Убираем верхний отступ */
  }

  .footer {
    padding-block: 30px; /* Уменьшаем отступы */
  }
}
