.search {
  display: flex;
  justify-content: space-between;
  background-color: var(--background-color-primary);
  width: 90%; /* Ширина блока будет 90% от ширины родительского контейнера */
  max-width: 400px; /* Максимальная ширина блока */
  padding: 8px 16px;
  border-radius: 20px;
}

.input {
  display: block;
  width: 70%; /* Ширина поля ввода будет 70% от ширины блока .search */
  border: none;
  background-color: var(--background-color-primary);
  outline: none;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color-primary);
  border: none;
  cursor: pointer;
}

.icon {
  width: 24px;
  height: 24px;
}

/* Медиа-запрос для адаптации на мобильных устройствах */
@media screen and (min-width: 400px) and (max-width: 1024px) {
  .search {
    width: 90%;
    max-width: none; /* Убираем максимальную ширину */
  }

  .input {
    width: 60%; /* Уменьшаем ширину поля ввода для лучшего отображения на устройствах с маленькими экранами */
  }
}
