.dropdown {
    position: fixed;
    margin-top: 45px;
    width: 22.7em;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.dropdownItem {
    padding: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.productImage {
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-right: 8px;
}

.productName {
    color: #000000; /* Черный цвет текста */
    font-weight: bold;
}

@media screen and (min-width: 400px) and (max-width: 1024px) {
    .dropdown {
        width: 20em; /* Занимает всю доступную ширину */
        margin-top: 40px; /* Убираем отступ сверху */
        margin-right: 25px;
    }
}
