.container {
  display: flex;
  gap: 20px;
  flex-direction: row;
  align-items: flex-end;
  margin-top: 50px;
}

.wrapperCard {
  display: flex;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: nowrap;
  justify-content: center;
}

.product-card {
  position: relative;
  overflow: hidden;
  background-color: #feb701;
  border-radius: 8px;
}

.product-card__image {
  width: 100%;
  height: auto;
  display: block;
}

.product-card__title {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2rem;
  font-weight: bold;
  text-align: right;
  padding: 16px;
  color: #fff;
}

.button_wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

@media only screen and (min-width: 400px) and (max-width: 1024px) {
  .wrapperCard {
    flex-direction: column;
    width: 20em;
    align-items: center;
  }
}



