.inputContainer,
.labeledTextarea {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.formWrapper {
  max-width: 400px;
  border-radius: 20px;
  width: 100%;
}

.formAndImageContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

.form {
  display: grid;
  grid-template-columns: 1fr;
  width: 400px;
  grid-gap: 20px;
}

.imageWrapper {
  display: grid;
  place-items: center;
}

.questionImage {
  max-width: 100%;
  height: auto;
}

.labeledInput span,
.labeledTextarea span {
  position: absolute;
  color: var(--grey-700-text);
  font-size: 14px;
}

.labeledInput span {
  right: 20px;
  top: 7%;
}

.labeledTextarea {
  height: 15.8em;
}

.labeledTextarea span {
  bottom: 12px;
  right: 20px;
}

.errorText {
  color: red;
  font-size: 15px;
  height: 1.6em;
  margin: 0 0 10px 1em;
}

.button {
  justify-self: center;
}

.requiredFieldsText {
  margin-top: 10px;
  margin-right: 5px;
  font-size: 12px;
  color: var(--grey-700-text);
}

.container {
  display: grid;
  place-items: center;
  height: 100vh;
}

.formWrapper {
  max-width: 400px;
  width: 100%;
}

.imageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.questionImage {
  max-width: 100%;
  height: auto;
  margin-left: 20px;
}

.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.modalContent h2 {
  padding: 15px 10px;
}

@media screen and (max-width: 1100px){
  .wrapperCard {
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }
}

@media screen and (max-width: 900px){
  .wrapperCard {
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }
}

/* Адаптивные стили для экранов с шириной от 400px до 800px */
@media screen and (min-width: 400px) and (max-width: 800px) {
  .container {
    grid-template-columns: 1fr; /* Одна колонка на мобильных устройствах */
  }

  .leftColumn {
    margin-top: 20px; /* Уменьшаем отступ сверху */
    padding: 20px; /* Уменьшаем внутренний отступ */
  }

  .product {
    grid-template-columns: 1fr; /* Одна колонка на мобильных устройствах */
  }

  .imageWrapper {
    max-width: 0%; /* Сделаем изображение растягивающимся на всю ширину */
    border-radius: 8px; /* Уменьшим радиус скругления углов */
    border-width: 1px; /* Уменьшим толщину рамки */
  }

  .iconContainer {
    max-width: none; /* Убираем ограничение максимальной ширины для контейнера иконок */
    flex-wrap: wrap; /* Позволяем иконкам переноситься на новую строку */
    justify-content: flex-start; /* Выравниваем иконки по левому краю */
    height: auto; /* Автоматическая высота */
  }
  .formWrapper {
    margin-bottom: 20px;
  }
}
