.ContactCard {
  border-radius: 20px;
  padding: 10px;
  width: 295px;
  height: 240px;
  border: 2px solid #26B9A8;

}

.title {
  display: flex;
  align-items: center;
  width: 70px;
  height: 50px;
  margin-left: 95px;
  margin-top: 20px;
  gap: 23px;
  font-weight: 600;
  font-size: var(--fontsize-h3);
  margin-bottom: 41px;

}

.subtitle {
  display: flex;
  gap: 16px;
  justify-content: center;
  margin-top: 60px;
  padding: 10px;
  font-size: 20px;
}

.contactList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
}

.contactLine {
  width: 100%;
  font-size: var(--fontsize-p);
}

.skeleton {
  background-color: var(--color-background-secondary);
  color: var(--color-background-secondary);
  border-radius: 3px;
}

.skeleton::before {
  content: "loading...";
}

@media screen and (min-width: 300px) and (max-width: 1024px) {
  .ContactCard {
    padding: 8px;
    max-width: 100%; /* Полная ширина для мобильных устройств */
    margin-left: -23px;
  }

  .subtitle {
    font-size: 14px; /* Меньший размер шрифта для мобильных устройств */
    margin-top: 10px; /* Уменьшенный отступ сверху для мобильных устройств */
    gap: 8px; /* Меньший промежуток для мобильных устройств */
  }

  .contactList {
    display: flex;
    gap: 8px; /* Меньший промежуток для мобильных устройств */
    align-items: center;
  }

  .contactLine {
    font-size: 14px; /* Меньший размер шрифта для мобильных устройств */
  }
}
